/*-----------------------------------*/
/* estilos generales */
/*-----------------------------------*/
:root {
  --separacion: 30px;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  background: #DEDEDE;
  color: #000;
}
/*-----------------------------------*/
/* estilos del formulario */
/*-----------------------------------*/
.formulario {
  display: block;
  width: 90%;
  max-width: 500px;
  background: #F3F3F3;
  padding: var(--separacion);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  margin: auto;
}
.formulario h1 {
  display: block;
  width: 100%;
  font-size: 58px;
  text-align: center;
  margin-bottom: var(--separacion);
}
/*-----------------------------------*/
/* estilos de los inputs y labels */
/*-----------------------------------*/
.formulario label,
.formulario input {
  display: block;
  width: 100%;
}
/*-----------------------------------*/
/* estilos de los labels */
/*-----------------------------------*/
.formulario label {
  text-align: center;
  margin-bottom: 5px;
}
/*-----------------------------------*/
/* estilos de los inputs */
/*-----------------------------------*/
.formulario input {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  margin-bottom: var(--separacion);
  outline: none;
  transition: all .3S ease;
}
.formulario input:focus {
  border: 1px solid rgba(0, 0, 0, .2);
}
/*-----------------------------------*/
/* estilos del boton */
/*-----------------------------------*/
.formulario button {
  display: block;
  width: 100%;
  background: #00796b;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  margin-bottom: var(--separacion);
  cursor: pointer;
  transition: all .3S ease;
}
.formulario button i {
  margin-right: 10px;
}
.formulario button:hover {
  background: #202124;
}
.formulario button:active {
  transform: scale(.95);
}
